<?xml version="1.0"?>
<config>
    <modules>
        <Shiphawk_Order>
            <version>1.0.0</version>
        </Shiphawk_Order>
    </modules>
    <global>
        <models>
            <shiphawk_order>
                <class>Shiphawk_Order_Model</class>
            </shiphawk_order>
        </models>
        <helpers>
            <shiphawk_order>
                <class>Shiphawk_Order_Helper</class>
            </shiphawk_order>
        </helpers>
        <resources>
            <shiphawk_order_setup>
                <setup>
                    <module>Shiphawk_Order</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shiphawk_order_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <shiphawk_order_order_place>
                        <type>singleton</type>
                        <class>shiphawk_order/observer</class>
                        <method>pushOrder</method>
                    </shiphawk_order_order_place>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <default>
        <shiphawk>
            <order>
                <active>1</active>
                <gateway_url>https://shiphawk.com/api/v4/</gateway_url>
            </order>
        </shiphawk>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shiphawk translate="title" module="shiphawk_order">
                                            <title>Shiphawk Settings</title>
                                        </shiphawk>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
