.shiphawk_item_type_label:hover {
    text-decoration: underline;
    cursor: pointer;
}

.shiphawk_item_type_suggest {
  position: absolute;
  z-index: 99;
  background: #fff;
  border: 1px solid #ccc;
  padding: 3px;
  display: none;
  width: 450px;
}