<?xml version="1.0"?>
<config>
    <modules>
        <Shiphawk_PushOrder>
            <version>1.0.0</version>
        </Shiphawk_PushOrder>
    </modules>
    <global>
        <models>
            <shiphawk_pushorder>
                <class>Shiphawk_PushOrder_Model</class>
            </shiphawk_pushorder>
        </models>
        <resources>
            <shiphawk_pushorder_setup>
                <setup>
                    <module>Shiphawk_PushOrder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shiphawk_pushorder_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <shiphawk_pushorder_order_place>
                        <type>singleton</type>
                        <class>shiphawk_pushorder/observer</class>
                        <method>pushOrder</method>
                    </shiphawk_pushorder_order_place>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <default>
        <carriers>
            <shiphawk_shipping>
                <active>1</active>
                <gateway_url>https://shiphawk.com/api/v4/</gateway_url>
            </shiphawk_shipping>
        </carriers>
    </default>
</config>
